<h1>Gerenciamento de Conteúdo</h1>

<a href="http://localhost/tutorial-site/?pagina=admin&metodo=create">Nova Publicação</a><br><br>
<hr>
<br><table border="2">
    <tr>
	<th>ID</th>
	<th>TÍTULO</th>
	<th>ALTERAR</th>
	<th>DELETAR</th>
    </tr>

    {%for postagem in postagens %}
    <tr>
	<th>{{postagem.id}}</th>
	<th>{{postagem.titulo}}</th>
	<th><a href="http://localhost/tutorial-site/?pagina=admin&metodo=change&id={{postagem.id}}">EDITAR</a></th>
	<th><a href="http://localhost/tutorial-site/?pagina=admin&metodo=delete&id={{postagem.id}}">DELETAR</a></th>
    </tr>
    {% endfor %}

</table>
