<section>

	<article>
	    <header>
		<h2>{{titulo}}</h2>
	    </header>

	    <p>{{conteudo}}</p>
	    <br>
	    <hr>
	    <br>
	    
	    <form method="post" action="http://localhost/tutorial-site/?pagina=post&metodo=addComent">
		<span>Nome:</span><br>
		<input type="text" name="nome"><br><br>

		<span> Comentário:</span><br>
		<textarea name="msg"></textarea><br><br>
		
		<input type="hidden" name="id" value="{{id}}">

		<input type="submit"  value="Enviar">
	    </form>
	    <br><br>

	    {% if comentarios == false %}
		<p>Seja o primeiro a comentar!</p>
	    {% else %}
		{% for comentario in comentarios %}
		    <h3>{{comentario.nome}}</h3>
		    <p>{{comentario.mensagem}}</p>
		    <br>
		{% endfor %}
	    {% endif %}
	</article>

</section>
